/* *{
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

/*
 * {
  background-color: #01161e;
}
 */
body {
  cursor: none;
}



*::selection {
  background-color: white;
  color: black;

}